<div class="container-fluid col-11">
    <div *ngIf="cartItems.length === 0" class="alert alert-info">Bienvenido a tu carrito y tu Jerma-lakin</div>
    <div class="alert text-center" *ngIf="cartItems.length > 0">
        <h3>Tú Carrito</h3>

        <table class="table">
            <thead class="thead-dark">
                <tr>             
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
        </table>
        <ul class="list-group" *ngIf="cartItems.length > 0">
            <li class="list-group-item" *ngFor="let item of cartItems; index as i">
                <div class="row ">
                    <div class="col-md-9">
                        <app-cart-item [cartItem]="item"></app-cart-item>
                    </div>
                    <div class="col-md-2">
                        <button mat-icon-button>
                            <mat-icon (click)="deleteItem(i)">remove_circle</mat-icon>
                        </button>

                    <strong>{{ item.qty}}</strong>
                        
                            <button mat-icon-button>
                                <mat-icon (click)="addItem(i)">add_circle</mat-icon>
                            </button>
                    </div>
                   
                </div>
            </li>
        </ul>
        <div class="col-md-12 text-right  bg-light mt-3"><strong> total : {{ total | currency : 'USD' }}</strong></div>
        <button (click)="emptyCart()" *ngIf="cartItems.length > 0"
            class="btn btn-outline-danger btn-block mt-3">Eliminar Compra <i class="fas fa-trash-alt"></i></button>
    </div>
</div>