mat-icon{
    color: red;
    font-size: 36px;
    cursor: pointer;
    margin-left: -12px;
    margin-top: -3px;

}
strong{
    font-size: 21px;
    margin: 22px;
}
th{
    font-size: 20px;
}
h3{
    font-size: 24px;
    color: darkcyan;
    font-weight: 800;
    font-family:sans-serif;
}
i{
    font-size: 20px;
}
