<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink='/home'>DefenderLife</span>

  <span class="example-spacer"></span>
  <small  class="sectio"> MUEJERES</small>  
  <small  class="sectio s-px-1"> HOMBRES</small>  
    <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button   class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon routerLink='/shopIcon'   matBadge="{{cartBadge}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
