@import "~ed-grid/ed-grid";

.example-spacer {
    flex: 1 1 auto;
  }

  mat-icon{
      font-size: 30px;
      color: rgb(249, 255, 255);
  }
  @import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Luckiest+Guy&display=swap');
  span{
      color: rgb(243, 247, 49);
      font-family: 'Gorditas', cursive;
      font-family: 'Luckiest Guy', cursive;       
      cursor: pointer;
      margin-top: 10px;
      font-size: 23px;
  }
small{
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}
small:hover{
    color: rgb(233, 248, 246);
    transition: .5s;
}
mat-toolbar{
    height: 55px;
    background-color: rgb(36, 34, 34);
}

@media(max-width:759px){
    small{
        display: none;
    }
}