<div class="ed-container full">
    <div class="ed-container full s-cross-center s-grid-6 s-py-0">
        <div class="cart-item s-px-4">
            <span>{{ cartItem.productNombre | slice:0:21 }}...</span>
        </div>
        <div class="s-cross-center lg-to-center">
            <strong>{{ cartItem.qty * cartItem.productPrecio | currency: 'USD'}} </strong>
        </div>
    </div>