<div class="ed-grid ">
<img [src]="product.img" width="100%" [alt]="product.nombre">
<h2 class="s-pxy-2">{{ product.nombre }}</h2>
<small class="s-px-2">{{ product.ingredientes | slice:0:60}}...</small>
<div class="ed-grid s-grid-2">
  <div class="ed-item">
    <mat-icon (click)="AddToCart()"  class="s-py-2">shopping_cart<mat-icon class="add">add</mat-icon></mat-icon>
  </div>
  <div class="ed-item">
    <h2 class="s-py-1">{{ product.precio | currency : 'USD' }}</h2>
  </div>
</div>
</div>
