.ed-container{
    margin: 0;
    padding-bottom: 0;

}


.xoxo .tools{
  flex-wrap: wrap;
  position: relative;
  margin-top: 90px;
  height: 44vh;
  width: 50%;
  box-shadow: 20px 20px 20px rgb(0,0,0,0.5);
  background:rgb(145, 144, 144);
  overflow: hidden;
  display: flex;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  opacity: .5;
}

h2{
    margin: 10px;
    color: rgb(112, 112, 112);
    font-size: 30px;
    letter-spacing: 1px;
}

.banner{
    margin-top: 30px;
  
    background-color: #000;
    border-radius: 14px;
}

/*   h1{
      font-size: 46px;
      font-family:monospace;
      letter-spacing: 1.3px;
      font-weight: 700;
      color: rgb(250, 253, 255);
      margin-top: 190px;
      z-index: 2;
      align-items: center;
  } */
  .swiper-button-prev, .swiper-button-next{
      font-size: 40px;
      margin: 8px;
      font-weight: 700;
      color: rgb(255, 0, 34);
  }

button{
   
    background-color: rgb(8, 8, 8);
    align-items: center;
    margin-top: 160px;
    padding: 5px;
    text-align: center;
    letter-spacing: 2px;
    opacity: .7;
    font-size: 18px;
    border: solid 1px #fff;
    width: 35%;
    height: 14%;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(107, 107, 107);
    color: rgb(5, 5, 5);
    transition: .6s;
    font-weight: 600;
}
.efect{
    width: 100%;
    height: .7vh;
    background-color: rgb(10, 10, 10);
}
.efecto{
  width: 100%;
  margin-top: 2px;
  height: .5vh;
  background-color: rgb(10, 10, 10);
}
.efectss{
  width: 100%;
  margin-top: 2px;

  height: .2vh;
  background-color: rgb(10, 10, 10);
}

strong{
    font-size: 25px;
    font-weight: 400;
    color: rgb(2, 0, 5);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
////
span{
    color: rgb(119, 113, 113);
    font-size: 1rem;
   text-align: justify;
    font-family:sans-serif;
    letter-spacing: 1.3px;
    font-weight: 300;
  }
  
  .carta  img{
      
      width: 100%;
      height: 290px;
      border-radius: 2px 2px 0px 0px;
  }
  small{
      font-size: 14.5px;
      text-justify: center;
      font-weight: 370;
      color: rgb(145, 142, 142);
  }
  h3{
      font-size: 18px;
      align-items: right;
      text-align: right;
      margin: 7px;
  }
  
  .platos{
      box-shadow:  .5px .5px .5px .5px rgb(199, 211, 219);
  
  }
  .platos:hover{
      transform: scale(1,1);
      transition: .8s; 
      box-shadow:  3.4px 3.4px 3.4px 3.4px rgb(236, 241, 243);
      
  }
   .ed-container span{
     margin-top: 10px;
      font-size: 40px;
      font-weight: 850;
      font-family: 'Amatic SC', cursive;
      font-family: 'Leckerli One', cursive; 
      text-decoration: underline;
      letter-spacing: 2px;
      color: rgb(85, 120, 122);
  }
   h2{
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 2px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgb(74, 94, 95);
  }
  @import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
  h5{
      font-size: 25px;
      font-family: 'Amaranth', sans-serif;
      letter-spacing: 4px;
      color: rgb(125, 169, 170);
      font-weight: 900;
  }
 .ed-grid .tools h4{
      justify-content: center;
      letter-spacing: 1px;
      font-size: 45px;
      font-family:'Times New Roman', Times, serif;
      color: rgb(245, 255, 255);
      font-weight: 900;  
      text-align: center;
      position: absolute;
  }
  
  hr{
      margin-top: 60px;
      width: 100%;
      height: .7px;
      background-color: rgb(7, 7, 6);
      box-shadow: 2px 2px 2px rgb(197, 197, 197);
  }
  h6{
    font-size: 24px;
  }
  p{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 100;
    color: rgb(252, 250, 250);
  }
  
  //''''''
  div [class^="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .platos {
      transition: 0.8s;
    }
    .platos-title {
      font-size: 15px;
      transition: 1s;
    }
  .platos::before,
  .platos::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.8s ease-out 0s;
    background: rgba(224, 232, 245, 0.1);
    content: "";
    pointer-events: none;
  }
  .platos::before {
    transform-origin: left top;
  }
  .platos::after {
    transform-origin: right bottom;
  }
  .platos:hover::before,
  .platos:hover::after,
  .platos:focus::before,
  .platos:focus::after {
    transform: scale3d(1, 1, 1);
  }
  mat-icon{
      font-size: 25px;
      cursor: pointer;
  }
  mat-icon:hover{
      color: rgb(129, 84, 253);
      transition: .5s;
  }

  @media screen and (max-width: 769px){

    img{
        margin-top: 30px;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 37vh;
    }
    h4{
      margin-top: -210px;
      display: none;
    }
.xoxo .tools{
  display: none;
}
app-product-item{
  width: 100%;
}
 }