<div class="ed-container full s-py-0">
<div class="ed-container s-grid-2 lg-grid-2">
    <div class="ed-container ">
        <app-product-list></app-product-list>
    </div>

</div>
<div class="ed-container full ">
    <div class="ed-grid  ">
    </div>
</div>
</div>