<div class="ed-grid s-grid-1 m-grid-2 lg-grid-4 xl-grid-4 rows-gap s-gap-1 m-gap-1 lg-gap-4 xl-gap-3  s-py-3 carta">

<div class="ed-container " *ngFor = "let product of products">
    <app-product-item [product] = "product"></app-product-item>
</div>
</div>